<div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      
      <table class="table w-50 m-auto mt-3 transparentSquare rounded">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#if skaters}}
            {{#each skaters}}
              <tr>
                <th scope="row">{{id}}</th>
                <td><img src="{{foto}}" alt="{{foto}}"  width="20"></td>
                <td>{{nombre}}</td>
                <td>{{anos_experiencia}}</td>
                <td>{{especialidad}}</td>
                <td>
                <form class="estado-form" action="/update-estado" method="post">
                <input type="hidden" name="email" value="{{email}}">
                <input type="checkbox" name="estado"  {{#if estado}}checked{{/if}} onchange="this.form.submit()"/>
                </form>
                </td>
                </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>

      
    </div>